* {
    margin: 0;
    padding: 0;
}

#page-container {
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid lime;
}


.divs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 50px;
    width: 50px;
    font-size: 15px;
    color: white;
    background-color: red;
    border: 5px solid black;
    cursor: pointer;
}

.divs:hover {
    transform: scale(1.2);
}