* {
    margin: 0;
    padding: 0;
}

#page-container {
    margin: auto;
    text-align: center;
    min-height: 100vh;
    width: 650px;
    border: 5px solid purple;
}

#heading-element {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: purple;
}

#heading-one {
    font-size: 50px;
    font-family: "Dancing Script", cursive;
}

#input-element {
    min-height: 150px;
    width: 100%;
    margin-top: 5px;
}

#form-element {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.inputElButton {
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 60px;
    width: 150px;
    font-size: 15px;
    color: white;
    background-color: rgb(59, 2, 59);
    border: 5px solid darkmagenta;
    border-radius: 25px;
    cursor: pointer;
}

.inputElButton:hover {
    transform: scale(1.1)
}

.inputElField {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    height: 40px;
    width: 250px;
    font-size: 15px;
    color: black;
    background-color: rgb(243, 165, 243);
    border: 5px solid darkmagenta;
}

#members-heading {
    font-size: 45px;
    font-family: "Dancing Script", cursive;
    color: purple;
    text-align: center;
    margin: 10px;
}

#array-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    margin-top: 5px;
}

.divs {
    margin: 20px;
    height: 75px;
    width: 150px;
    font-size: 15px;
    color: white;
    background-color: rgb(59, 2, 59);
    border: 5px solid darkmagenta;
}

.viewButtons {
    margin: 10px;
    height: 20px;
    width: 75px;
    font-size: 15px;
    color: white;
    background-color: gray;
    border: 2px solid darkmagenta;
    cursor: pointer;
}

.viewButtons:hover {
    transform: scale(1.2);
}

/* These setting are for phone display only */
@media screen and (min-width: 0px) and (max-width: 700px) {

    #page-container {
        margin: auto;
        height: auto;
        width: 100vw;
    }

    #heading-element {
        height: 80px;
    }

    #heading-one {
        font-size: 30px;
    }

    #form-element {
        max-width: 350px;
    }

    .inputElField {
        margin: 7px;
    }

    .divs {
        margin-left: auto;
        margin-right: auto;
    }

    #array-element {
        display: inline-block;
        width: 300px;
    }
    #members-heading {
        font-size: 40px;
    }

}