* {
    margin: 0;
    padding: 0;
}

#page-container {
    margin: auto;
    min-height: 100vh;
    width: 600px;
    border: 5px solid purple;
}

#heading-element {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    background-color: purple;
}

#input-element {
    min-height: 150px;
    width: 100%;
    margin-top: 5px;
}

#form-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputElButton {
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 100px;
    width: 100px;
    font-size: 15px;
    color: white;
    background-color: rgb(59, 2, 59);
    border: 5px solid darkmagenta;
    border-radius: 50px;
    cursor: pointer;
}

.inputElButton:hover {
    transform: scale(1.1)
}

.inputElField {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    height: 90px;
    width: 90px;
    font-size: 12px;
    color: black;
    background-color: rgb(243, 165, 243);
    border: 5px solid darkmagenta;
}

#array-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    margin-top: 5px;
}

.divs {
    display: block;
    text-align: center;
    margin: 20px;
    height: 100px;
    width: 100px;
    font-size: 12px;
    color: white;
    background-color: rgb(59, 2, 59);
    border: 5px solid darkmagenta;
}

.deleteButtons {
    margin: 10px;
    height: 20px;
    width: 75px;
    font-size: 15px;
    color: white;
    background-color: gray;
    border: 2px solid darkmagenta;
    cursor: pointer;
}

.deleteButtons:hover {
    transform: scale(1.2);
}

/* These setting are for phone display only */
@media screen and (min-width: 0px) and (max-width: 650px) {

    #page-container {
        margin: auto;
        height: auto;
        width: 270px;
    }

    #heading-element {
        font-size: 25px;
    }

    #form-element {
        display: block;
        text-align: center;
    }

    .inputElField {
        height: 50px;
        width: 200px;
    }

}